* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial;

}
:root {
     --couleur1:rgb(255, 254, 254);
     --couleur2: orangered;
     
}
.body {
    font-size: 16pt;
}
.bandeau {
  width: 1700px;
  height: 50px;
  border: 1px solid var(--couleur2);
  background-color: var(--couleur2);
  display: flex;
  flex-direction: wrap;
  position: fixed;
}

.nav {
    min-height: 15%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.nav>h1 {
    font-family: 'arial';
    font-size: 1.8rem;
    color:var(--couleur1);
    
}

.nav>ul {
    display:flex
}
.nav>ul>li {
    list-style:none;
    margin: 10px;
    color: var(--couleur1);
    transition: all ease 0.4s;
    height:min-content;
    text-transform: capitalize;
}
.nav>ul>li:hover {
    color:black;
    cursor: pointer;
}

.contener1 {
    width:1700px;
    height: 860px;
    border: 1px solid var(--couleur2);
    background-image: url(C:\wamp64test\www\LIBERTY\images\hero.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    display: flex;
    flex-direction: row;
    
}

.logo {
    background-image : url(C:\wamp64test\www\LIBERTY\images\logo.png);

}
.texte {
    display: flex;
    flex-direction: wrap;
    justify-content: space-around;
    align-items: center;
    width:40%;
    margin:5%;
    min-height:80%;
    color: var(--couleur2);
    font-family: 'agency FB';
    font-size: 5rem;
}
.texte>* {
    margin:center;
}


.boutbas {
    
    background-color:var(--couleur2);
    border:solid var(--couleur2) 4px;
    width:10cm;
    height : 1.5cm;
    color:var(--couleur1);
    text-align: center;
    font-size: 1rem;
    padding: 10px;
    border-radius: 30%;
}
.boutbas:hover {
    background-color:var(--couleur1);
    color:var(--couleur2);
    cursor: pointer;

}
