* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial;

}
:root {
     --couleur1:rgb(255, 254, 254);
     --couleur2: orangered;
     
}
.body {
    font-size: 16pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header {
  min-height:7vh;
  width:100vw;
  border: 1px solid var(--couleur2);
  background-color: var(--couleur2);
  display: flex;
  position: fixed;

 
  
}
.section1 {
    min-height: 100vh;
    width:100vw;
    background-image: url(hero.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2cm 1cm;
    
       
}
nav {
    min-height: 15%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 1cm;
    margin-right: 1cm;
   
}

nav>h1 {
    font-family: 'arial';
    font-size: 1.8rem;
    color:var(--couleur1);
    
}

nav>ul {
    display:flex
}
nav>ul>li {
    list-style:none;
    margin: 10px;
    color: var(--couleur1);
    transition: all ease 0.4s;
    height:min-content;
    
}
nav>ul>li:hover {
    color:black;
    cursor: pointer;
    text-decoration: underline;
}


.logo {
    width: 200px;
    height: 150px;
    border: 1px solid transparent;
    background-image : url(logo.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position:center;
    -webkit-filter: grayscale(0) blur(0px);
    filter: grayscale(0) blur(0px);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  
 }

   
.logo:hover{
    width: 200px; 
    height: 150px;
    border-radius: 50%; 
    -webkit-transform: rotate(360deg); 
    transform: rotate(360deg);
  }



.texte{
    
    width:100%;
    margin:5%;
    min-height:80%;
    color: var(--couleur1);
    font-family: 'agency FB';
    font-size: 3rem;
    text-align: center;
}
.boutbas {
    min-height: 8vh;
    width:25vw;
    margin:5%;
    background-color:var(--couleur2);
    border:solid var(--couleur2) 4px;
    color:var(--couleur1);
    text-align: center;
    font-size: 1rem;
    padding: 10px;
    border-radius: 35px;
   
    
}

.boutbas:hover {
    background-color:grey;
    color:var(--couleur1);
    cursor: pointer;

}


.section2{
    min-height: 100vh;
    width:100vw;
    border: 1px solid var(--couleur1);
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

}
.titre {
 color:black;
 font-size:2cm;
 text-align: center;
 margin: 1cm 1cm;
 

}
.texte2{
    color:grey;
    font-size:0.5cm;
    text-align: center;
    margin: 1cm 0;
 
    
    

}
.groupe1 , .groupe2{
    width:100%;
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    border: 1px solid var(--couleur1);
    background-color: var(--couleur1);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 2cm;
}
.image1, .image2,.image3,.image4, .image5, .image6,.image7,.image8{
    width:6cm;
    height: 4.5cm;
    border: 1px solid var(--couleur1);
    background-image: url(img-0.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    margin: 0.25cm 0.25cm;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
 
}
.image1{background-image: url(img-0.jpg);}
.image2{background-image: url(img-1.jpg);}
.image3{background-image: url(img-2.jpg);}
.image4{background-image: url(img-3.jpg);}
.image5{background-image: url(img-4.jpg)}
.image6{background-image: url(img-5.jpg)}
.image7{background-image: url(img-6.jpg);}
.image8{background-image: url(img-7.jpg);}
    
.image1:hover,.image2:hover,.image3:hover,.image4:hover,.image5:hover,.image6:hover,.image7:hover,.image8:hover{
    background-color: grey;
    cursor: pointer;
    opacity: 0.33;
    -webkit-transform: scale(1.3);
	transform: scale(1.3);}



.section3 {
    min-height: 100vh;
    width:100vw;
    border: 1px solid var(--couleur1);
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

}

.titre3{
    color:black;
    font-size:1.5cm;
    text-align: center;
    margin: 1cm 0;

}

.texte3{
    color:grey;
    font-size:0.5cm;
    text-align: center;
    margin: 1cm 0;
 

}

 
.section3A{
    width:100vw;
    min-height: 20vh;
    border: 1px solid var(--couleur1);
    background-color: var(--couleur1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 2cm;
    margin-top: 1cm;
   }
   
   
   
   table{
      
       min-height: 60vh;
       width:8vw;
       border-radius: 3px;
       margin-left: 1cm;
        }
   
   tr {
       border-color: transparent ;
       min-height: 10vh;
       width:8vw;
   
   }
   th{
   background-color: rgb(235, 240, 239);
   border: 1px solid rgb(235, 240, 239);
   padding: 10px;
   border-radius: 3px;
   font-size:20px;
   min-height: 10vh;
   width:8vw;
   
     }
   
   td{
       min-height: 10vh;
       width:8vw;
       border-bottom: 1px solid rgb(235, 240, 239);
       padding: 10px;
       text-align: center;
   
     }
   
   
   .boutbas2{
       width:10vw;
       min-height: 6vh;
       border: 1px solid black;
       background-color: black;
       color:var(--couleur1);
       border-radius: 3px;
       text-align:center;
       font-size: 25px;
       
   
   }
   
   .boutbas2:hover, th:hover{
       background-color:rgb(115, 138, 241); 
       color: var(--couleur1);
       
   }
   table:hover{
       border: 3px solid rgb(115, 138, 241); 
   }
   .boutbas2:hover, th:hover
   {
           background-color:rgb(115, 138, 241); 
           color:var(--couleur1);
           border-color:rgb(115, 138, 241); 
           
       }
   
   
    
.section4{
    min-height: 10vh;
    width:100vw;
    border: 1px solid var(--couleur1);
    background-color: rgb(54, 60, 75);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    color : grey;

}
.section5{
  
    border: 1px solid rgb(54, 60, 75);
    background-color: rgb(54, 60, 75);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-block-end: 2cm;
    color : grey;

}

.titre4{
    color: var(--couleur1);
    font-size:1.5cm;
    text-align: center;
    margin: 1cm 0;

}

.texte4{
    color:grey;
    font-size:0.5cm;
    text-align: center;
    margin: 1cm 0;


}
form {
	background-color : rgb(54, 60, 75);
	border-color:rgb(54, 60, 75);
	padding:8px;
	width:100vw;
	min-height: 40vh;
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
	
	}
   fieldset {
	width:31vw;
	min-height: 31vh;
	padding:0 20px 20px 20px;
	margin-bottom:10px;
	border: 1px solid rgb(54, 60, 75);

	}
 	
   textarea, select {
	background-color:var(--couleur1);
	line-height: 1.5;
	width:20vw;
	min-height: 5vh;
	}
   textarea {
	padding:3px;
	border:1px solid var(--couleur1);
	border-radius:5px;
	width:30vw;
	min-height: 20vh;
	box-shadow:1px 1px 2px   rgb(54, 60, 75);
	border-radius: 5px;
	margin-bottom:3px;
	}
	input{

		padding:3px;
		border:1px solid var(--couleur1);
		border-radius:5px;
		width:30vw;
		min-height: 7vh;
		box-shadow:1px 1px 2px   rgb(54, 60, 75);
		border-radius: 5px;
		margin-bottom:15px;
		}

.box{
	width:30vw;
	min-height: 7vh;
	border:1px solid rgb(54, 60, 75);
	display: flex;
    flex-direction: row;
	
}

select{
		padding:3px;
		border:1px solid var(--couleur1);
		border-radius:5px;
		width:20vw;
		min-height: 7vh;
		box-shadow:1px 1px 2px  rgb(54, 60, 75);
		border-radius: 5px;
		color:grey;
	}

button{
	background-color: var(--couleur2);
	border-radius: 5px;
	font-size: 0.5cm;
	color:black;
	width:8vw;
	min-height: 7vh;
	margin-left: 10px;

}

.button:hover {
    background-color:rgb(54, 60, 75);
    cursor: pointer;
    opacity: 0.33;
    border-radius: 5px;
	width:8vw;
	min-height: 7vh;
	
}
    



.cercle{
    width:50px;
    background:var(--couleur2);
    height:50px;
    text-align:center;
    border-radius:100px;
    line-height: 80px;
    color: var(--couleur1);
    font-size:2cm;
    text-align: center;
    margin-top: -45px;

}


.section6 {
    min-height: 20vh;
    width:100vw;
    border: 1px solid var(--couleur1);
    background-color: var(--couleur1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    

}


.copy {
    margin:10px;
    color:rgb(54, 60, 75);
    text-align: center;
    font-size: 0.5cm;
    

}

.reseaux{

    min-height: 10vh;
    width:100vw;
    border: 1px solid var(--couleur1);
    background-color: var(--couleur1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    

}

